# ====== POSTGRES CREDENTIALS  ====== 
POSTGRES_DB='yourdb'
POSTGRES_USER= 'youruser'
POSTGRES_PASSWORD="yourpassword"
POSTGRES_HOST='127.0.0.1'
POSTGRES_PORT='5432'

# ====== MONGO CREDENTIALS  ====== 
MONG0_USER='youruser'
MONG0_PASSWORD="yourpassword"
DB_NAME='dbname'
DOMAIN='domain'

# ====== DJANGO SECURITY ======
SECRET_KEY=secret_key